H2{
    text-align:center;
    color:red;
    font-family: 'Gloria Hallelujah', cursive;
font-family: 'Fredoka One', cursive;

}

img{
 width:400px;   
}

body{
   text-align:center; 
   font-family: 'Gloria Hallelujah', cursive;
font-family: 'Fredoka One', cursive;

}

